<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pansong291.xposed.quickenergy">

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="XQuickEnergy">

        <!-- 作为xposed模块 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <!-- 模块描述 -->
        <meta-data
            android:name="xposeddescription"
            android:value="蚂蚁森林快速收取能量" />

        <!-- XposedBridgeApi的最低版本号 -->
        <meta-data
            android:name="xposedminversion"
            android:value="54" />

    </application>

</manifest>
